<div id="header">

</div>
  <div class="container">
    <form>
        <div class="row">
            <div class="col-25">
              <label for="name">Name</label>
            </div>
            <div class="col-75">
              <select id="name" name="name">
                <option>Shalini</option>
                <option>Tiwari</option>
              </select>
            </div>
          </div>
      <div class="row">
        <div class="col-25">
          <label for="title">Title</label>
        </div>
        <div class="col-75">
          <input type="text" id="title" name="title" placeholder="Your Title..">
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="post">Post</label>
        </div>
        <div class="col-75">
          <textarea id="post" name="post" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
 
  
