
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1>Content Management System</h1>
      </div>
      <div id="menu">
        <ul>
          <li>
            <a class="btn" accesskey="1" title="" [routerLink]="['/app-home']">Homepage</a>
          </li>
          <li>
            <a class="btn" accesskey="2" title="" [routerLink]="['/createpost']">CreatePost</a>
          </li>
          <li>
            <a class="btn" accesskey="4" title="" [routerLink]="['/app-createauthor']">CreateAuthor</a>
          </li>
          <li>
            <a class="btn" accesskey="3" title="" [routerLink]="['/app-allauthor']">AllAuthor</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="page">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-25">
              <label for="name">Name</label>
            </div>
            <div class="col-75">
              <select id="name" name="name">
                <option>Shalini</option>
                <option>Tiwari</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="title">Title</label>
            </div>
            <div class="col-75">
              <input type="text" id="title" name="title" placeholder="Your Title..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="post">Post</label>
            </div>
            <div class="col-75">
              <textarea id="post" name="post" placeholder="Write Something.." style="height:200px"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <input type="submit" value="SUBMIT" [routerLink]="['/app-home']">
          </div>
        </form>
      </div>
    </div>
    <div id="three-column">

    </div>
    <div id="footer">
    </div>
  </div>
