<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />

  <!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1>Content Management System</h1>
      </div>
      <div id="menu">
        <ul>
          <li>
            <a accesskey="1" title="" [routerLink]="['/app-home']">Homepage</a>
          </li>
          <li>
            <a accesskey="2" title="" [routerLink]="['/createpost']">CreatePost</a>
          </li>
          <li>
            <a accesskey="4" title="" [routerLink]="['/app-createauthor']">CreateAuthor</a>
          </li>
          <li>
            <a accesskey="3" title="" [routerLink]="['/app-allauthor']">AllAuthor</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="page">
      <div class="container">
        <form [formGroup]="UserFormDetails">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Full Name</label>
              <div class="col-sm-10">
                  <input type="text"  formControlName="name" class="form-control" placeholder="Full Name">
                  <!-- Validation starts After User Touch Input -->
                  <div class="messages text-danger" *ngIf="UserFormDetails.controls['name'].status === 'INVALID' && UserFormDetails.controls.name?.touched || submitted">
                      <!-- Validation Required for First Name -->
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.name.errors?.required">
                          Full Name can't be blank
                      </div>
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls['name'].errors?.pattern">
                          Full Name Must contain only Characters, Numbers, Dots and Spaces
                      </div>
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls['name'].hasError('whitespace')"> 
                          Please Enter Valid Full Name 
                      </div> 
              </div>
          </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mobile Number</label>
              <div class="col-sm-10">
                  <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Mobile Number" (keydown.space)="onKeydown($event)">
                  <!-- Validation starts After User Touch Input -->
                  <div class="messages text-danger" *ngIf="UserFormDetails.controls['phoneNumber'].status === 'INVALID' && UserFormDetails.controls.phoneNumber?.touched || submitted">
                      <!-- Validation Required for Phone Number -->
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.phoneNumber.errors?.required">
                          Mobile Number can't be blank
                      </div>
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.phoneNumber.errors?.pattern">
                          Mobile Number Must be Numeric
                      </div>
                      <!-- Validation to have atleast 10 Digits in Phone Number -->
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.phoneNumber.errors?.minlength && !UserFormDetails.controls.phoneNumber.errors?.pattern">
                          Mobile Number must be alteast 10 digits long
                      </div>
                  </div>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                  <input type="email" formControlName="emailId" class="form-control" placeholder="Email" (keydown.space)="onKeydown($event)">
                  <!-- Validation starts After User Touch Input -->
                  <div class="messages text-danger" *ngIf="UserFormDetails.controls['emailId'].status === 'INVALID' && UserFormDetails.controls.emailId?.touched || submitted">
                      <!-- Validation Required for Email -->
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.emailId.errors?.required">
                          Email can't be blank
                      </div>
                        <!-- Validation for Email Type -->
                      <div class="messages text-danger" *ngIf="UserFormDetails.controls.emailId.errors?.pattern && !UserFormDetails.controls.emailId.errors?.required">
                          Invalid Email ID
                      </div>
                      <!-- Validation starts After User Dirty Touch Input -->
                      <!-- <div class="messages text-danger" *ngIf="UserFormDetails.controls['name'].status === 'INVALID' && UserFormDetails.controls.emailId?.touched || submitted">
                                         </div> -->
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
    <div id="three-column">

    </div>
    <div id="footer">
    </div>
  </div>
</body>

</html>