input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

label {
	font-family: 'Oswald', sans-serif;
    padding: 15px 32px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
     
    
}

input[type=submit] {
    background-color: black;
    border-radius: 4px;
    border: none;
    color:#f2f2f2;
    font-family: 'Oswald', sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#post
{
    float: right;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
    font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	line-height: 1.25;

	text-align: left;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 80%;
        margin-top: 0;
    }
}

 .button {
    background-color: black;
    border-radius: 4px;
    border: none;
    color:#f2f2f2;
    font-family: "Times New Roman", Times, serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
   
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
   
}
.button2
{
   float: right;
}
#posttitle
{
    font-family: "Times New Roman", Times, serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
     
}
#name
{
    color:black;
}
#main
{
    background-color: #FF3838;
}

html, body {
	height: 100%;

}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #545454;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
}
h1
{
	font-size: 1.8em;
	width: 150%;
	line-height: 1.25;
	text-transform: capitalize;
	color: #ccc;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 15px;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
	color: #EAEAEA;
}

a {
	color: #EAEAEA;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	overflow: hidden;
	width: 1200px;
	margin: 50px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 150px;
	background: url(../../assets/img/img01.jpg) repeat-x left top;
}

/* Logo */

#logo
{
	float: left;
	width: 350px;
	padding: 30px 0px 0px 50px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}

#logo h1
{
	padding: 5px 10px 0px 0px;
}

#logo h1 a
{
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	color: #FFFFFF;
}

#logo p
{
	display: block;
	margin-top: -10px;
	padding: 0px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: #FFFFFF;
}

#logo p a
{
	color: #FFFFFF;
}

/* Menu */

#menu
{
	float: right;
	width: 700px;
	padding: 60px 50px 0px 0px;
}

#menu ul
{
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
}

#menu a
{
	display: block;
	margin-left: 1px;
	padding: 7px 0px 7px 30px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a
{
	text-decoration: none;
	border-radius: 5px;
	color: #FFFFFF;
}

/** PAGE */

#page {
	overflow: hidden;
	width: 1100px;
	padding: 50px 50px;
	background: #2E2E2E;
	color: #919191;
}

#page h2 {
	color: #FFFFFF;
}

/** CONTENT */

#content {
	float: left;
	width: 750px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 300px;
}

/* Footer */

#footer {
	overflow: hidden;
	margin: 0px 50px;
	padding: 30px 0px;
	border-top: 5px solid #000000;
}

#footer p {
	text-align: center;
	font-size: 12px;
}

#footer a {
	color: #545454;
}

/* Three Column */

#three-column {
	overflow: hidden;
	margin: 0px 50px;
	padding: 50px 0px;
}

#three-column #tbox1 {
	float: left;
	width: 400px;
	margin-right: 50px;
}

#three-column #tbox2 {
	float: left;
	width: 300px;
}

#three-column #tbox3 {
	float: right;
	width: 300px;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #545454;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #525253;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
}

ul.style2 h3 a {
	color: #E4E4E6;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/* Button Style 1 */

.button-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #333;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}
mat-card
{
    cursor: pointer;
}
#comment
{
	display: none;

}
mat-card
{
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
}
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }
  .text1{
      height: 50px;
      border: none;
      border-bottom: 2px solid navy;
      position: sticky;
      bottom: 0px;
      width: 1100px;
      
  }
  #button {
    display: block;
    margin-top: 20px;
    padding: 7px 20px;
    background:black;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    float: right;
    font-family:'Oswald',sans-serif; 
  }
  h2{
    font-size: 15px;
    color: black;
  }
  .accordion {
    background:black;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Oswald',sans-serif;
    cursor: pointer;
    padding: 7px 20px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\02C4';
    color: #777;
    font-weight: bolder;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\02C5";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
  












