<div id="header">
<h2 id="name">Author Name</h2>
  </div>
    <div class="container">
      <form>
          <div class="row">
              <label id="posttitle">POST TITLE</label>
              <button class="button button2">ALL POST</button>
            </div>
        <div class="row">
          <div class="col-25">
            <label for="post">Post</label>
          </div>
          <div class="col-75">
            <textarea id="post" name="post" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="COMMENT">
        </div>
      </form>
    </div>
   
    
  