<a [routerLink]="['/app-home']" routerLinkActive="active">
  <b>&lArr;</b>
</a>
 
<div>   
<h2 id="name">Author Name</h2>
  <form>
    <div class="row">
      <label id="posttitle">POST TITLE</label>
      <button class="button button2" [routerLink]="['/all-posts']">ALL POST</button>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="post">Post</label>
      </div>
      <div class="col-75">
        <label id="post" name="post" style="height:200px">Hiiiii</label>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="COMMENT" routerLink="/comment">
    </div>
  </form>
  <router-outlet></router-outlet>
</div>