
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				<h1>Content Management System</h1>
			</div>
			<div id="menu">
				<ul>
					<li>
						<a accesskey="1" title="" [routerLink]="['/app-home']">Homepage</a>
					</li>
					<li>
						<a accesskey="2" title="" [routerLink]="['/createpost']">CreatePost</a>
					</li>
					<li>
						<a accesskey="3" title="" [routerLink]="['/app-createauthor']">createauthor</a>
					</li>
					<li>
						<a accesskey="3" title="" [routerLink]="['/app-allauthor']">AllAuthor</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="page">
			<mat-card *ngFor="let data of httpdata">
				<h2 id="title" (click)="navigate(data?.id)" [routerLink]="['/fullpost']">{{data?.id}}. {{data?.title}}</h2>
				<p>{{data.author?.name}}</p>
			</mat-card>
		</div>
		<div id="three-column">

		</div>
		<div id="footer">
		</div>
	</div>
