mat-card
{
	text-transform: capitalize;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
}
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }
  #text{
      height: 50px;
      border: none;
      border-bottom: 2px solid navy;
      position: sticky;
      bottom: 0px;
      width: 1100px;
      
  }
  