mat-card
{
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
}
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }
  .text1{
      height: 50px;
      border: none;
      border-bottom: 2px solid navy;
      position: sticky;
      bottom: 0px;
      width: 1100px;
      
  }
  #button {
    display: block;
    margin-top: 20px;
    padding: 7px 20px;
    background:black;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    float: right;
    font-family:'Oswald',sans-serif; 
  }
  h2{
    font-size: 15px;
    color: black;
  }
  
  